@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
  --border-radius: 0.2rem;
  --box-shadow: 0 2px 0.3rem rgba(0, 0, 0, 0.3);
}

body {
  font-family: open sans, sans-serif;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
}

h2 {
  font-size: 1.6rem;
}

p {
  line-height: 1.6;
}

input {
  font-family: inherit;
  font-size: 0.7rem;
  color: var(--light-gray);
  border: none;
  border-radius: var(--border-radius);
}

input::placeholder {
  color: var(--light-gray);
}

button {
  padding: 0.8rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--bright-blue);
  color: var(--light-grayish-blue);
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.screen__wrapper {
  margin: 0 auto;
  max-width: 90%;
  width: 1440px;
}
